<div class="container">
	<h3>Ask a question</h3>
	<div class="form-group">
		<label for="askTitle">Title</label>
		<input type="text" name="fTitle" id="askTitle" class="form-control" placeholder="Title" />
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="3" name="fText" class="form-control" placeholder="Describe your problem" ></textarea>
	</div>
	<div class="form-group">
		<label for="askTags">Tags</label>
		<input type="text" name="fTags" id="askTags" class="form-control" placeholder="add some tags"/>
	</div>
	<button class="btn btn-primary">Ask</button>
</div>