<div class="container">
	<h3>Ask a question {{ask.componentName}}</h3>
	<form>
		<div class="form-group">
			<label for="askTitle">Title</label>
			<input ng-model="ask.newQ.title" type="text" name="fTitle" id="askTitle" class="form-control" placeholder="Title" />
		</div>
		<div class="form-group">
			<label for="askDescription">Description for the question, You can use <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a></label>
			<textarea id="askDescription" ng-model="ask.newQ.description" class="form-control" rows="3" name="fText" class="form-control" placeholder="Describe your problem" ></textarea>
		</div>
		<!--<div class="form-group">
			
			<label for="askTags">Tags <small>Add tags for question use ,</small></label>
			<input ng-model="ask.newQ.tags" type="text" name="fTags" id="askTags" class="form-control" placeholder="add some tags"/>
		</div>-->
		<label>Tags <small>Add tags for question use ,</small></label>
		<tags-input ng-model="ask.newQ.tags" addOnEnter=true placeholder="Add tags for question use , and enter for next" ></tags-input>
		<input type="submit" class="btn btn-primary" ng-click="ask.addQuestion(ask.newQ)" value="Ask">
		<input type="button" class="btn btn-danger" ng-click="ask.reset()" value="Reset">
	</form>
	<br/>
	<div>
		<div>Result of description</div>
		<br/>
		<div class="bg-warning">
			<div marked="ask.newQ.description" ></div>
		</div>
	</div>
</div>

