<p>name {{main.componentName}}</p>
<div class="container">
	<div class="pull-right">
		<ul class="list-unstyled list-inline">
			<li>Sort by:</li>
			<li><button class="btn-link btn-sm">New</button></li>
			<li><button class="btn-link btn-sm">Active</button></li>
			<li><button class="btn-link btn-sm">Unanswered</button></li>
		</ul>
	</div>
</div>
<hr/>
<div class="container bg-success">
	<div class="row">
		<div class="col-sm-1 ">
			<h2 class="glyphicon glyphicon-ok-circle"></h2>
		</div>
		<div class="col-sm-1">
			<ul class="list-unstyled">
				<li>
					<p>56</p>
					<small>votes</small>
				</li>
				<li>
					<div>4</div>
					<small>answers</small>
				</li>
			</ul>
		</div>
		<div class="col-sm-10">
			<a><h4>Prolem with printer</h4></a>
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis dolorum,Lorem ipsum dolor sit amet, consectetur adipisicing elit </div>
			<div>
				<ul class="list-inline list-unstyled">
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
				</ul>
				<small><a>Solution</a></small>
			</div>
		</div>
	</div>

</div>
<hr/>
<div class="container bg-warning">
	<div class="row">
		<div class="col-sm-1 ">
			<h2 class="glyphicon glyphicon-warning-sign" aria-hidden="true"></h2>
		</div>
		<div class="col-sm-1">
			<ul class="list-unstyled">
				<li>
					<p>56</p>
					<small>votes</small>
				</li>
				<li>
					<div>0</div>
					<small>answers</small>
				</li>
			</ul>
		</div>
		<div class="col-sm-10">
			<a><h4>Prolem with printer</h4></a>
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis dolorum,Lorem ipsum dolor sit amet, consectetur adipisicing elit </div>
			<div>
				<ul class="list-inline list-unstyled">
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
				</ul>
			<small><a>Be the first to answear</a></small>
			</div>
		</div>
	</div>
</div>
<hr/>
<div class="container bg-info">

	<div class="row">
		<div class="col-sm-1 ">
			<h2 class="glyphicon glyphicon-equalizer" aria-hidden="true"></h2>
		</div>
		<div class="col-sm-1">
			<ul class="list-unstyled">
				<li>
					<p>56</p>
					<small>votes</small>
				</li>
				<li>
					<div>3</div>
					<small>answers</small>
				</li>
			</ul>
		</div>
		<div class="col-sm-10">
			<a><h4>Prolem with printer</h4></a>
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis dolorum,Lorem ipsum dolor sit amet, consectetur adipisicing elit </div>
			<div>
				<ul class="list-inline list-unstyled">
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
					<li><h4> <span class="label label-info">a tag</span></h4></li>
				</ul>
			</div>
		</div>
	</div>
</div>

