<div class="container">
	<h3>{{question.theQ.title}}</h3>
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-sm-1">
				<ul class="list-unstyled">
					<li><button ng-click="question.voteUp()" class="btn glyphicon glyphicon-chevron-up"></button></li>
					<li>
						<div class="well-sm text-center">
							{{question.theQ.votes}}
						</div>
					</li>
					<li><button ng-click="question.voteDown()" class="btn glyphicon glyphicon-chevron-down"></button></li>
				</ul>
			</div>
			<div class="col-sm-10">
				<div marked="question.theQ.description" >
					<!--{{question.theQ.description}}-->
				</div>
				<ul class="list-inline list-unstyled">
					<li ng-repeat="tag in question.theQ.tags"><h4> <span class="label label-info">{{tag.text}}</span></h4></li>
				</ul>
				<div class="row">
					<div class="col-sm-4">
						<button type="button" class="btn btn-link" 
						ng-click="question.edit()">edit</button>
						<button type="button" class="btn btn-link" 
						ng-click="question.delete()">delete</button>
					</div>
					<div class="col-sm-5">
						edited 2015-03-01 TODO
					</div>
					<div class="col-sm-3 pull-right bg-info">
						<p>asked: 2015-03-01 TODO</p>
						<p>Author: {{question.theQ.author}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h4>{{question.theQ.answers.length}} Answere</h4>
		<hr/>
		<div id="answer_{{answere.id}}" class="container" ng-repeat="answere in question.theQ.answers">
			<div class="row">
				<div class="col-sm-1">
					<ul class="list-unstyled">
						<li>
							<button ng-click="question.voteAnswereUp(answere)" class="btn glyphicon glyphicon-chevron-up"></button></li>
						<li>
							<div class="well-sm text-center">
							{{answere.votes}}
							</div>
						</li>
						<li><button ng-click="question.voteAnswereDown(answere)" class="btn glyphicon glyphicon-chevron-down"></button></li>
						<li ng-hide="question.theQ.solved && !answere.solution"><button ng-click="question.solveToggle(answere,$index)"
							class="btn glyphicon glyphicon-ok"></button></li>
					</ul>
				</div>
				<div class="col-sm-10">
					<div>answere id: {{answere.id}}</div>
					<div  marked="answere.description"></div>
					<div class="row">
						<div class="col-sm-3 pull-right bg-info">
							<p>Answered: 2015-03-01</p>
							<p>Author: {{answere.author}}</p>
						</div>
					</div>
					<button type="button" class="btn btn-link" 
						ng-click="question.deleteAnswere(answere)">delete</button>
				</div>
			</div>
			<hr>
		</div>
		<div class="container">
			<h4>Add a answer</h4>
			<p>You can use <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> for input </p>
			<textarea class="form-control" rows="3" data-ng-model="question.my_markdown"></textarea>
			<br/>
			<button class="btn btn-primary" ng-click="question.addAnswer()">Add answer</button>
			<hr/>
			<div class="container bg-warning col-sm-12">
				<div marked="question.my_markdown" >
				</div>
			</div>
		</div>
	</div>
</div>